Source: PyVPN
Priority: extra
Maintainer: Aleksander Mitin <amitin@yandex-team.ru>
Build-Depends:
    debhelper (>= 5),
    python,
    python-dev,
Standards-Version: 3.7.2
XS-Python-Version: >=2.5

Package: PyVPN
Depends:
    PyYaml,
Architecture: all
Description: PyVPN client/server
